@using FLStore.Web.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css.map" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="/Home/">Furniture Land <span>Store</span></a></h1>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart(3) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*@if (Session["cart"] != null)
                                {
                                    foreach (Item item in (List<Item>)Session["cart"])
                                    {
                                        <li>
                                            <a href="@Url.Action("RemoveFromCart", "Home", new { productId=item.Product.ProductId})">@item.Product.ProductName (@item.Quantity) <i class="fa fa-times"></i></a>
                                        </li>
                                    }
                                }*@
                            <li>
                                <a href="#">ProductName (item.Quantity) <i class="fa fa-times"></i></a>
                            </li>

                            <li class="divider"></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>
                    </li>
                    <li>
                        @if (ApplicationUtilities.GetSessionValue("UserName").ToString() != "")
                        {

                        }
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">

                    <ul class="nav nav-pills">
                        <li ><a style="border-radius:initial;" href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a style="border-radius:initial;" href="@Url.Action("Contact","Home")">Contact</a></li>
                        <li><a style="border-radius:initial;" href="@Url.Action("About","Home")">About</a></li>
                    </ul>
                </div>
            </div>

        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - Furniture Land Store. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $(function () {
            var current_page_URL = location.href;
            $("a").each(function () {
                if ($(this).attr("href") !== "#") {
                    var target_URL = $(this).prop("href");
                    if (target_URL == current_page_URL) {
                        $('nav a').parents('li, ul').removeClass('active');
                        $(this).parent('li').addClass('active');
                        return false;
                    }
                }
            });
        });
    </script>
</body>
</html>
